<mat-card>
  <mat-card-title>
    Register a new User
  </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <div class="row" style="margin-bottom: 8%;">
        <button mat-icon-button type="button" [disableRipple]="true" class="ml-auto mr-auto justify-content-center" (click)="fileInput.click()">
          <avatar class="" *ngIf="!file" [name]="username" [displayType]="'circle'" [size]="100"></avatar>
          <img *ngIf="file" [src]="imgSrc" alt="Profile Image" style="border-radius: 50%; outline: none !important;" width="100" height="100" />
        </button>
        <input #fileInput type="file" (change)="onFileInput()" style="display: none" [multiple]="false" accept="image/*" />
      </div>
      <div class="row">
        <mat-form-field class="w-50 ml-auto mr-auto">
          <input matInput
                 #usernameInput
                 name="username"
                 maxlength="40"
                 placeholder="Username"
                 [(ngModel)]="username"
                 required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="w-50 ml-auto mr-auto">
          <input matInput
                 type="password"
                 #passwordInput
                 name="password"
                 maxlength="40"
                 placeholder="Password"
                 [(ngModel)]="password"
                 required>
        </mat-form-field>
      </div>
      <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="row" *ngIf="ErrorMessage.length > 0">
          <span class="ml-auto mr-auto text-danger" >
            {{ErrorMessage}}
          </span>
      </div>
      <div class="row">
        <app-language-picker class="w-50 ml-auto mr-auto"></app-language-picker>
      </div>
      <div class="row mt-2">
        <button mat-raised-button type="submit" color="primary" class="ml-auto mr-auto justify-content-center w-25"> Register  </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
