<mat-card>
  <mat-card-title>
    Register a new User
  </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <mat-form-field class="ml-2 w-50 ml-auto mr-auto">
          <input matInput
                 #usernameInput
                 name="username"
                 maxlength="40"
                 placeholder="Username"
                 [(ngModel)]="username"
                 required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="ml-2 w-50 ml-auto mr-auto">
          <input matInput
                 type="password"
                 #passwordInput
                 name="password"
                 maxlength="40"
                 placeholder="Password"
                 [(ngModel)]="password"
                 required>
        </mat-form-field>
      </div>
      <div class="row" *ngIf="ErrorMessage.length > 0">
          <span class="ml-auto mr-auto text-danger" >
            {{ErrorMessage}}
          </span>
      </div>
      <div class="row">
        <button mat-raised-button type="submit" color="primary" class="ml-auto mr-auto justify-content-center w-25"> Register  </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
